:root {
  --teal: #0091ab;
  --lighter-teal: #64d1dd;
  --literally-black: #000000;
  --darker-black: #242424;
  --black: #313131;
  --dark-grey: #888888;
  --medium-grey: #bbbbbb;
  --light-grey: #e1e1e1;
  --lighter-grey: #f3f3f3;
  --white: #fbfbfb;
  --small: 0.7rem;

  --colour: var(--teal);
  --background: var(--white);
  --text: var(--black);
  --muted-text: var(--dark-grey);
  --border: var(--light-grey);
  --shadow: var(--medium-grey);
  --code-background: var(--light-grey);
  --code: var(--black);
  --table-shaded: var(--lighter-grey);
  --table-border: var(--light-grey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour: var(--lighter-teal);
    --background: var(--black);
    --text: var(--light-grey);
    --muted-text: var(--medium-grey);
    --border: var(--darker-black);
    --shadow: var(--literally-black);
    --code-background: var(--darker-black);
    --code: var(--white);
    --table-shaded: var(--literally-black);
    --table-border: var(--dark-grey);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--text);
  line-height: 1.7;
  background-color: var(--background);
  font-size: 22px;
  /* to undo styles in head that prevent fouc */
  visibility: visible;
  opacity: 1;
}

body {
  border-top: 3px solid var(--colour);
  margin: 0;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

main {
  max-width: 38rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
  /* flex: 1; */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  border-bottom: 2px solid var(--border);
}

h1 {
  font-size: 2.5rem;
}

/**********************************************************************/
/* Links
/**********************************************************************/

a {
  color: var(--colour);
}

a:visited {
  color: var(--text);
}

a:focus, a:hover {
  background: var(--colour);
  color: var(--background);
  outline: 3px solid var(--colour);
  text-decoration: none;
}

a:visited:hover, a:visited:focus {
  background: var(--text);
  color: var(--background);
  outline: 3px solid var(--text);
}

/**********************************************************************/
/* Header
/**********************************************************************/

header {
  max-width: 38rem;
  margin: 0 auto;
  padding: 0 1em;
  border-bottom: 2px solid var(--border);
}

header h1 {
  border: none;
  margin: 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  fill: var(--colour);
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  margin-right: 1rem;
  display: inline-block;
}

code {
  white-space: pre;
}

/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  header nav {
    flex-direction: column;
    padding-bottom: 1rem;
  }

  header nav p {
    margin: 0;
  }
}

/**********************************************************************/
/* Images
/**********************************************************************/

main img {
  max-width: 100%;
  display: block;
  margin: 2rem auto;
  border: 10px solid var(--border);
  border-radius: 3px;
  box-shadow: 4px 4px var(--shadow);
  box-sizing: border-box;
}

figure {
  margin: 1rem 0;
}

figure img {
  margin: 0 auto;
}

figcaption {
  font-size: var(--small);
  color: var(--muted-text);
  margin: 0.5rem auto;
  text-align: center;
  width: 80%;
  display: block;
}

/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  img {
    border-width: 7px;
  }

  figure {
    margin: 0.5rem 0;
  }

  figcaption {
    width: 100%;
  }
}

/**********************************************************************/
/* Code
/**********************************************************************/

code {
  background: var(--code-background);
  border-radius: 5px;
  box-shadow: 2px 2px var(--shadow);
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
  font-size: 0.85rem;
  margin: 0 0.1rem;
  padding: 0.1rem 0.45rem;
}

small code {
  font-size: 90%;
}

pre {
  background: var(--code-background);
  border-radius: 5px;
  box-shadow: 2px 2px var(--shadow);
  font-size: var(--small);
  overflow-x: auto;
  padding: 0.5rem 1rem;
  color: var(--code);
}

pre code {
  box-shadow: unset;
  padding: 0;
}

/**********************************************************************/
/* Tables
/**********************************************************************/

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Table Header Styles */
thead th {
  background-color: var(--table-shaded);
  padding: 0.5rem;
  text-align: left;
  font-weight: bold;
}

/* Table Cell Styles */
tbody td {
  padding: 12px;
  border-bottom: 1px solid var(--table-border);
  vertical-align: top;
}

/* Striped Table Styles */
tbody tr:nth-child(even) {
  background-color: var(--table-shaded);
}
